* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --d-white: #d3cdcd;
    --l-white: #f0f0f0;
    --dark-azure: #a2b8b8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--l-white);
    font-family: Cambria;
}

#container {
    background-color: var(--d-white);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--dark-azure);
}

#header {
    margin: 45px 0 25px;
    text-transform: uppercase;
    font-size: 1.6rem;
}

#input-container {
    border-radius: 50%;
    padding-top: 38px;
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-color: var(--dark-azure);
}

label {
    display: block;
    padding: 0;
    margin: -8px auto 0;
    font-size: 1rem;
    letter-spacing: .1px;
    font-family: monospace;
    width: 413px;
}

#number {
    width: 300px;
    height: 50px;
    margin-top: 3px;
    padding-left: 29%;
    font-family: Tahoma;
    font-size: 1rem;
}

#convert-btn {
    width: 300px;
    height: 50px;
    margin: 30px auto 10px;
    border-radius: 50px;
    border: .5px solid rgb(162, 184, 184);
    text-transform: uppercase;
    font-size: 1.1rem;
}

#convert-btn:hover {
    background-color: rgb(162, 184, 184);
    border: .5px solid rgb(73, 92, 92);
}

#convert-btn:active {
    width: 320px;
    height: 53.3px;
}

#output {
    font-family: monospace;
    font-size: 1.6rem;
    margin: 0 auto;
    width: 300px;
    height: 28px;
    vertical-align: text-bottom;
    padding-top: 3px;
}

.hide {
    display: none;
}

@media (max-width: 654px) {
  #container {
    width: 75%;
    height: 50%;
  }

  #header {
    font-size: .85rem;
    margin-bottom: 10px;
  }

  #input-container {
    height: 180px;
  }

  label {
    font-size: .8rem;
    display: block;
    width: 200px;
    margin: 20px auto 0;
  }

  #number {
    width: 70%;
    height: 33px;
  }

  #convert-btn {
    width: 200px;
    height: 33px;
    margin: 10px auto 20px;
  }

  #convert-btn:active {
    width: 215.3px;
    height: 37.2px;
  }
}